$white: #F2F3F8;
$off-white: #EDECED;
$grey: #a9aaad;
$yellow: #dec27b;
$black: #242927;
$lightBlack: #2f3633;
$teal: #70B7BA;

$color__light: $white;
$color__light-alt: $off-white;
$color__dark: $black;
$color__dark-alt: $lightBlack;
$color__primary: $yellow;
$color__secondary: $teal;

$color__grey: $grey;
