button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: $font__alt;
	@include font-size(1.1);
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px 25px;
	border-radius: $rad;
	cursor: pointer;
	border: 1px solid $color__primary;
	background: $color__light;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border: 1px solid $color__accent;
}
