.site-color-alt,
.main-navigation ul ul {
  background: $color__background-body-alt;
  color: $color__text-alt;
}

.text-bg {
  background: rgba(0 ,0 ,0 ,0.4);
  color: $color__text-alt;
  padding: 5px 15px;
}

.main-navigation .search-field {
  background: $lightBlack;
}
