.site-color-alt,
.main-navigation ul ul {
  background: $color__dark;
  color: $color__light;
}

.text-bg {
  background: rgba(0 ,0 ,0 ,0.4);
  color: $color__light;
  padding: 5px 15px;
}

.main-navigation .search-field {
  background: $color__dark-alt;
}
