.site-footer {
  background: $color__background-body-alt;
  color: $color__text-alt;

}
.footer-content {
  @include span-columns(12);
}

.footer-widget {

  .widget-title {
    @include span-columns(4 of 12);

    @include font-size(1.8);
    font-family: $font__alt;
  }

  .widget-content {
    @include span-columns(8 of 12);
  }

  .widget-content--split {
    @include span-columns(4 of 12);
  }

  .widget-title,
  .widget-content,
  .widget-content--split {
    border-top: 1px solid $bar;
    padding: $pad 0 $column 0;
  }
}
