.home-top {
  padding: ($column * 4) 0;
  color: $white;
}

.home-header--image {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}


.home-bottom-widget {
  padding: $column 0;
}
