.home-top {
  padding: ($column * 4) 0;
  color: $color__light;
}

.home-header--image {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.home-bottom h4,
.home-bottom h5 {
  padding-bottom: $gutter;
}
