.content-area {
  @include span-columns(10 of 12);
  @include shift(1);

  margin-top: -($column * 2);
  z-index: 1;
  background: $color__light;
  position: relative;
  border-radius: 5px 5px 0 0;
}

// Post styles
.the-post-info {
  text-align: center;
  padding: $column 0 $gutter 0;
  width: 100%;
  background: $color__dark;
  color: $color__light;
}

.the-content {
  padding-top: $column;
  @include span-columns(8 of 10);
  @include shift(1);

  &::first-letter {
    font-size: 90px;
    float: left;
    margin-right: 10px;
    line-height: 110px;
  }
  &::first-line {
    @include font-size(2.4);
  }
}

// Featured image
.the-post-image {
  min-width: 100%;
  height: auto;
}
