.single-content {
  @include span-columns(12);

  .site-main {
    @include span-columns(7 of 12);
    @include shift(2.5);
  }

  .entry-title,
  .entry-meta {
    text-align: center;
  }

  .alignleft {
    @include shift(-4.36);
    float: left;
    padding-right: $pad;
  }

  .alignright {
    margin-right: -37.18995%;
    float: right;
    padding-left: $pad;
  }
}
