.eb-column {
  padding: $column;
}

.eb-col-third,
.eb-col-twothird,
.eb-col-quarter,
.eb-col-half {
  padding: 0 2.5%;
  float: left;
}

.eb-col-third {
  width: 33.3333%;
}

.eb-col-twothird {
  width: 66.6666%;
}

.eb-col-quarter {
  width: 25%;
}

.eb-col-half {
  width: 50%;
}
